@import 'tailwindcss';
@theme {
  --font-sans: 'Inter', sans-serif;
  --color-primary: #4caf50;
  --color-secondary: #ff5722;
  --spacing-unit: 8px;
}

/* Định nghĩa các lớp CSS tùy chỉnh */
@layer utilities {
  .text-primary {
    color: var(--color-primary);
  }
  .text-secondary {
    color: var(--color-secondary);
  }
  .p-unit {
    padding: var(--spacing-unit);
  }
}
